* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inconsolata";
    background-color: var(--dark-beige);
    font-size: 16px;
    height: 100%;
    letter-spacing: 1px;
}

:root {
    --dark-beige: #e6dace;
    --light-beige: #f4ece6;
    --blue: #0050ff; 
}

#blue-box {
    background-color: var(--blue);
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

#small-blue-box {
    background-color: var(--blue);
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.title {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-title {
    font-size: 35px;
    font-weight: 900;
}

.justify-text {
    text-align: center;
}

/* Used for the Resume and the Projects section */
.info-box {
    background-color: white;
    margin: auto;
    padding: 25px 15px 25px 15px;
    font-size: 17px;
    margin-bottom: 35px;
    box-shadow: 2px 2px 20px 10px rgba(0,0,0,0.1);
}

.align-start {
    align-items: flex-start;
}

.remove-padding {
    padding: 0;
}

/* NAVBAR */
.navbar--container,
.navbar--logo {
    display: flex;
    flex-direction: row;
}

.navbar--container {
    background-color: white;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    z-index: 1;
    position: absolute;
}

.navbar--logo {
    align-items: center;
}

.navbar--name {
    font-weight: 900;
    font-size: 1.9rem;
    letter-spacing: 1px;
}

.navbar--position {
    font-size: 1.7rem;
    font-weight: 300;
    margin-top: 7px;
}

.navbar--lines,
.navbar--button-container {
    display: flex;
    flex-direction: column;
}

.navbar--lines {
    height: 37px;
    width: 40px;
}

.navbar--line {
    background-color: var(--blue);
    margin-bottom: 8px;
    border-radius: 7px;
}

.first {
    width: 50%;
    height: 5.5px;
}

.second {
    width: 100%;
    height: 4.5px;
}

.third {
    align-self: flex-end;
    width: 50%;
    height: 5.5px;
    margin-bottom: 0;
}

.navbar--button {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 2.2rem;
    padding: 20px;
}

.navbar--button-container {
    height: 60%;
    margin-top: 40%;
    align-items: center;
}

/* Navbar Options */
.hidden,
.beige-overlay {
    background-color: var(--light-beige);
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
}

.beige-overlay {
    opacity: 1;
    animation: fadein 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
    pointer-events: none; /* Disable interaction with the hidden overlay and its content */
    animation: fadeout 0.5s ease-in-out;
    z-index: -1;
}

@keyframes changeMenuIcon {
    0% {
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

.navbar--options-container {
    height: 37px;
    width: 40px;
    z-index: 11;
    position: relative;
    right: -4;
    top: 0;
    z-index: 12;
}

.navbar--options-line {
    background-color: black;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 15px;
    animation: changeMenuIcon 0.7s linear;
} 

.firstLine {
    transform: rotate(45deg);
}

.secondLine {
    transform: rotate(-45deg);
}

.active {
    color: var(--blue);
}


/* FOOTER */
.footer--container {
    background-color: white;
    width: 100vw;
    padding: 0px 30px 0px 30px;
    margin: 0;
}

.footer--wix {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -30px;
}


/* ANY PAGE */
.page--container {
    display: flex;
    flex-direction: column;
}


/* HOME */
.home--container,
.home--personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home--container {
    margin: auto;
    width: 355px;
    margin-top: 120px;
    z-index: 0;
}

.home--personal-info {
    background-color: var(--light-beige);
    width: 100%;
    align-items: center;
    box-shadow: 3px 3px 15px 10px rgba(0,0,0,0.1);
}

.home--img-container {
    margin-top: 40px;
    border-radius: 50%;
    background-color: black;
    width: 180px;
    height: 180px;
    overflow: hidden;
}

.home--img {
    width: 100%;
}

.home--social-media {
    background-color: white;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 35px 0px 35px;
}

.home--social-media > a > img {
    width: 23px;
    height: 23px;
}

.home--social-media-icon > a:hover {
    cursor: pointer; 
}

.home--personal-info-separator {
    background-color: var(--blue);
    height: 2px;
    width: 60%;
    border-radius: 10px;
}

.home--name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.home--name {
    font-size: 35px;
    letter-spacing: 4px;
    margin-top: -30px;
    font-weight: 800;
}

.home--profession {
    font-weight: 300;
    font-size: 1.7rem;
}

.home--text {
    padding: 5%;
}

.home--text > h1 {
    font-size: 50px;
    font-weight: 800;
}

.home--text > h3 {
    font-size: 25px;
}

#cv-button,
.home--button {
    border-radius: 30px;
    height: 40px;
    width: 130px;
    margin-right: 20px;
    padding: 10px;
}

.home--button > a,
#cv-button > a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-weight: 800;
    letter-spacing: 1.5px;
}

.home--buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#resume-button,
#cv-button > a {
    color: white;
}

#cv-button:hover > a,
#projects-button {
    color: black;
}

#cv-button,
.blue-bg {
    background-color: var(--blue);
}

#cv-button:hover,
.outline-box {
    background-color: transparent;
    border: black solid 1px;
}


/* RESUME */
.resume--container {
    margin-top: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.resume--rubric-title {
    font-size: 23px;
    font-weight: 900;
}

.resume--date {
    color: var(--blue);
    font-weight: 900;
}

.resume--subtitle {
    margin-top: -5px;
    margin-bottom: 35px;
}

.resume--subinfo {
    margin-top: -15px;
}

.resume--paragraph {
    margin-top: 30px;
}


/* PROJECTS */
.projects--container {
    margin-top: 150px;
    padding: 20px;
}

#blue-rectangle {
    height: 60px;
    width: 10px;
    background-color: var(--blue);
}

.project--title {
    font-size: 16px;
    font-weight: 900;
    color: var(--blue);
    margin: 0;
    margin-bottom: 10px;
}

.project--role {
    margin: 0;
}

.padding-10 {
    padding: 10px;
}

.project--img {
    width: 100%;
    height: 100px;
    margin-bottom: -5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.project--paragraph {
    padding: 20px;
    margin: 0;
    font-size: 16px;
}

.projects--container > .info-box {
    margin-top: 35px;
}